{% extends "students/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ transaction_form.media }}
<p class="lead"> Please fill in the class details </p>
{% bootstrap_form transaction_form %}
<form action="" method="post" autocomplete="off">{% csrf_token %}
	
	{% buttons %}
		<button type="Submit" class='btn btn-success'> Submit </button>
	{% endbuttons %}
</form>

<br><a class="btn btn-primary btn-lg" href="{% url 'students:index' %}" role="button">Home</a>
	<a class="btn btn-primary btn-lg" href="{% url 'students:view_students' %}" role="button">View Students</a>

{% endblock content %}